[Desktop Entry]
Exec=~/.config/shkodra-one-time-wall.sh
Icon=application-x-shellscript
Name=(one time only) Change to default Shkodra Linux wallpaper
Type=Application
X-KDE-AutostartScript=true
